* {
    scroll-padding-top: 6rem;
}

/*
body {
    background: radial-gradient(rgb(23, 66, 45), rgba(13, 27, 42, 1));
    font-family: "Inter", sans-serif;
}
*/

body {
    background: linear-gradient(-45deg, rgba(13, 27, 42, 1) 50%, rgba(85, 255, 170, .3));
    background-color: #0d1b2a;
    font-family: "Inter", sans-serif;
}







main {
    padding-top: 5vh;
}

#about h4,
#resume h4 {
  color: white;  
}

.para {
    padding: 1rem;
    color: rgba(255, 255, 255, .8)
}



.roles {
    padding: 1rem;
    transition: transform 1s ease;
}

.roles:hover {
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid  rgba(255, 255, 255, .3);
    border-radius: 8px;
    transform: scale(1.01)
}

.roles h5 {
    color: rgba(255, 255, 255, 1);
}

span {
    color: rgba(255, 255, 255, .9);
}

#resume p {
    color: rgba(255, 255, 255, .8); 
    font-size: .9rem;
}