* {
    scroll-padding-top: 6rem;
}

/*
body {
    background: linear-gradient(-45deg, rgba(13, 27, 42, 1) 60%, rgba(85, 255, 170, .3));
}
*/

/*
body {
    background: linear-gradient(-45deg, rgba(13, 27, 42, 1) 60%, rgba(13, 27, 42, .8) 85%, rgba(13, 27, 42, .6));
}
*/

body {
    background: radial-gradient(rgb(23, 66, 45), rgba(13, 27, 42, 1));
}

main {
    padding-top: 5vh;
}

#about h4,
#resume h4 {
  color: white;  
}

.para {
    padding: 1rem;
    color: rgba(255, 255, 255, .8)
}



.roles {
    padding: 1rem;
}

/*
.roles:hover {
    background-color: rgba(85, 255, 170, .1);
    border: 1px solid  rgba(85, 255, 170, .3);

    background-color: rgba(255, 255, 255, .2);
    border: 1px solid  rgba(255, 255, 255, .4);

    background-color: rgba(13, 27, 42, .3);
    border: 1px solid  rgba(13, 27, 42, 1);

    border-radius: 8px;
}
*/

.roles h5 {
    color: rgba(255, 255, 255, 1);
}

span {
    color: rgba(255, 255, 255, .9);
}

#resume p {
    color: rgba(255, 255, 255, .8); 
    font-size: .9rem;
}