* {
    scroll-padding-top: 3rem;
}

body {
    background-color: #0d1b2a; 
    font-family: "Inter", sans-serif;
}





#logo {
    background-color: #5fa;
    border-radius: 50%;
}

.navbar {
    background-color: #050c13;
}

.offcanvas-end {
    background-color: #1b263b;
}





#intro {
    height: 100vh;
    padding-top: 25vh;
}

.first {
    color: rgba(255, 255, 255, 1);    
}

.second {
    color: rgba(255, 255, 255, .8);
    /*font-size: 3.25rem;*/
    line-height: 1.2;
}

#intro button {
    border-color: #5fa;
}

#intro button:hover {
    background-color: rgba(85, 255, 170, .25);
}

#intro-link {
    /*color: rgba(85, 255, 170, .5);*/
    /*color: rgba(255, 255, 255, .4);*/
    color: rgba(255, 255, 255, .5);
}

#intro-link:hover {
    /*color: rgba(85, 255, 170, 1);*/
    /*color: rgba(255, 255, 255, .8);*/
    color: rgba(255, 255, 255, .8);
}







.card {
    background-color: #0d1b2a;
    color: white;
    height: 40vh;
    width: 40vw;
}

#image-one,
#image-two,
#image-three,
#image-four {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    transition: transform .7s;
}

#image-one:hover,
#image-two:hover,
#image-three:hover,
#image-four:hover {
    transform: scale(1.15) translateY(-10px);
}

.card-title {
    color: rgba(255, 255, 255, .9);    
}

.card-text {
    color: rgba(255, 255, 255, .6);
}

.img-anchor {
    text-decoration: none;
}





#separate {
    height: 2px;
    width: 100%;
    padding: 0;
    border-bottom: .25px solid rgba(255, 255, 255, .25);
    margin: 0 auto;
}

footer {
    color: white;
}

h2 {
    color: rgba(255, 255, 255, .9);
}

#contact p {
    color: rgba(255, 255, 255, .6);
}

.form-control {
    color: rgba(255, 255, 255, .8);
    background-color: rgba(255, 255, 255, .15);
    border-color: rgba(255, 255, 255, .3);
}

.form-control:focus{
    color: rgba(255, 255, 255, .8);
    background-color: rgba(255, 255, 255, .2);
    outline: none;
    border-color: rgba(255, 255, 255, .5);
    box-shadow: 0 0 3px rgba(255, 255, 255, .5);
    -moz-box-shadow: 0 0 3px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, .5);
}

.form-control::placeholder {
    color: rgba(255, 255, 255, .3);
}

#btnone,
#btntwo,
#btnthree,
#btnfour,
#btnfive,
#btnsix,
#btnseven,
#btneight,
#submitbtn {
    height: fit-content;
    width: fit-content;
    background-color: #0d1b2a;
    padding: .5rem 1rem;
    border: 1px solid rgba(85, 255, 170, .5);
    border-radius: 10px;
    color: rgba(85, 255, 170, .5);
    letter-spacing: 1px;
    text-align: center;
}

#btnone:hover,
#btntwo:hover,
#btnthree:hover,
#btnfour:hover,
#btnfive:hover,
#btnsix:hover,
#btnseven:hover,
#btneight:hover,
#submitbtn:hover {
    background-color: rgba(85, 255, 170, .1);
}

svg {
    /*margin: 0 .75rem;*/
    transition: transform .7s;
}

svg:hover {
    transform: scale(1.25);
}

#social {
    background-color: #050c13;
}

#social a {
    margin: -1rem .5rem 0rem;
    text-decoration: none;
    border: none;
    color: #050c13;
}


