* {
    scroll-padding-top: 3rem;
}

body {
    background-color: #0d1b2a; 
    font-family: "Inter", sans-serif;
}





#logo {
    background-color: #5fa;
    border-radius: 50%;
}

.navbar {
    background-color: #050c13;
}

.offcanvas-end {
    background-color: #1b263b;
}





#intro {
    height: 100vh;
    padding-top: 25vh;
}

#intro button {
    border-color: #5fa;
}

#intro button:hover {
    background-color: rgba(85, 255, 170, .25);
}

#intro-link {
    color: rgba(85, 255, 170, .5);
}

#intro-link:hover {
    color: rgba(85, 255, 170, 1);
}







.card {
    background-color: #0d1b2a;
    color: white;
    height: 40vh;
    width: 40vw;
}

#image-one,
#image-two,
#image-three,
#image-four {
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

#btnone,
#btntwo,
#btnthree,
#btnfour {
    background-color: #0d1b2a;
    border: none;
    color: rgba(85, 255, 170, .5);
    text-decoration: underline;
}

#btnone:hover,
#btntwo:hover,
#btnthree:hover,
#btnfour:hover {
    color: rgba(85, 255, 170, 1);
}






footer {
    color: white;
}






#modalcontainerone,
#modalcontainertwo,
#modalcontainerthree,
#modalcontainerfour {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 220%;
    height: 220%;
    background-color: rgba(49, 48, 48, 0.5);
}

#modalone,
#modaltwo,
#modalthree,
#modalfour {
    position: fixed;
    top: 20%;
    left: 37%;
    right: 37%;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    justify-items: center;
    padding-bottom: 3rem;
    border: 2px solid lightgray;
    border-radius: 10px;
    background-color: white;
}












